button {
    outline: none;
    cursor: pointer;
}

.button{
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 8px 24px rgba($secondary-color, 0.24);
    line-height: 1.25;
    border: 0;
    min-width: 300px;
    @include breakpoint(small down){
        width: 100%;
        max-width: 350px;   
    }
}