.menu{
    font-family: $header-font-family;
    font-size: 16px;
    letter-spacing: 0.04em;
    a{
        color: $black;
        &:hover, &:focus{
            text-decoration: underline;
        }
    }
    &--header{
        @include breakpoint(medium down){
            display: none;
        }
    }
    &--footer{
        @include breakpoint(medium down){
            order: 1;
            margin: 30px -20px 0;
        }
        @include breakpoint(small down){
            display: none;
        }
    }
    &--mobile{
        margin-left: -20px;
        @include breakpoint(small down){
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
            li + li{
                margin-top: 19px;
            }
        }
        a{
            @include breakpoint(767 down){
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}