$token-colors: (
    red: $primary-color,
    cyan: $secondary-color,
    green: $success-color,
    yello: $warning-color,
    blue: #5C7CFA,
    orange: #FF922B,
    pink: #F06595
);

.token{
    position: relative;
    overflow: hidden;
    padding: 56px 0 74px;
    @include breakpoint(medium down){
        padding-bottom: 80px;
    }
    @include breakpoint(small down){
        padding-bottom: 60px;
    }
    &_content {
        display: grid;
        align-items: center;
        grid-template-areas: 'donut legend table';
        grid-template-columns: minmax(auto, 400px) repeat(2, auto);
        column-gap: 40px;
        margin-top: 60px;
        @include breakpoint(medium down){
            grid-template-columns: minmax(auto, 400px) auto;
            grid-template-areas: 'donut legend'
                                 'table table';
            grid-gap: 60px;
            justify-content: center;
        }
        @include breakpoint(small down){
            margin-top: 55px;
            row-gap: 24px;
            grid-template-columns: minmax(auto, 350px);
            grid-template-areas: 'donut'
                                 'legend'
                                 'table';
        }
    }
    &_donut{
        grid-area: donut;
    }
    &_legend{
        grid-area: legend;
        margin: 0;
        list-style: none;
        font-size: 24px;
        color: $gray70;
        @include breakpoint(small down){
            font-size: 18px;
            columns: 2;
            small{
                font-size: 18px;
            }
        }
        &_item{
            & + &{
                margin-top: 12px;
                @include breakpoint(small down){
                    margin-top: 16px;
                }
            }
            &::before{
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: currentColor;
                margin-right: 16px;
            }
            @each $name, $color in $token-colors{
                &--#{ $name}{
                    &::before{
                        background-color: $color;
                    }
                }
            }
        }
    }
    &_blockchain{
        grid-area: table;
        @include breakpoint(small down){
            padding-top: 20px;
        }
    }
    &_table{
        width: 100%;
        border: 1px solid $gray20;
        border-radius: 16px;
        border-spacing: 0;
        color: $gray80;
        background: $white;
        // border-collapse: collapse;
        th{ 
            padding: 15px 20px;
        }
        td{
            padding: 17px 20px;
            border-top: 1px solid $gray20;
            &:first-child{
                @include breakpoint(small down){
                    padding-right: 0;
                }
            }
            &:last-child{
                text-align: right;
                @include breakpoint(small down){
                    padding-left: 0;
                }
            }
        }
        &_header{
            text-align: center;
            color: $secondary-color;
            margin: 0;
        }
    }
    &_bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        margin-top: 32px;
        @include breakpoint(medium down){
            margin-top: 44px;
            padding: 0 20px;
        }
        @include breakpoint(small down){
            margin-top: 24px;
            padding: 0;
            column-gap: 0;
        }
        &_header{
            margin-bottom: 4px;
        }
        &_descr{
            color: $gray70;
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: -150px;
        right: 243px;
        width: 235px;
        height: 235px;
        background-image: url(../assets/img/bubble_small.png);
        background-size: cover;
        z-index: -1;
        @include breakpoint(retina){
            background-image: url(../assets/img/bubble_small@2x.png);
        }
        @include breakpoint(medium down){
            right: -117px;
            top: auto;
            bottom: 45px;
        }
        @include breakpoint(small down){
            bottom: -78px;
        }
    }
    &::after{
        content: '';
        position: absolute;
        left: -111px;
        bottom: -74px;
        width: 287px;
        height: 288px;
        background-image: url(../assets/img/bubble.png);
        background-size: cover;
        z-index: -1;
        transform: rotate(30deg);
        @include breakpoint(retina){
            background-image: url(../assets/img/bubble@2x.png);
        }
        @include breakpoint(medium down){
            left: -111px;
            bottom: auto;
            top: -121px;
        }
        @include breakpoint(small down){
            width: 189px;
            height: 190px;
            left: -80px;
            top: -70px;
        }
    }
}