footer.footer
    .grid-container
        .footer_top
            .footer_logo
                img(src="./assets/img/logo.svg", alt="EduShare")
            +menu
            a.button.secondary(href="#" download)
                | Download Whitepaper
        .footer_bottom
            +social
            .footer_copyright
                | © 2020 EduShare. All rights Reserved