footer.footer
    .grid-container
        .footer_top
            .footer_logo
                picture
                    source(srcset="./assets/img/logo.svg" media="(min-width: 640px)")
                    img(src="./assets/img/logo_footer.svg", alt="EduShare")
            +menu()(class='menu--footer')
            a.button.secondary(href="#" download)
                | Download Whitepaper
        .footer_bottom
            +social
            .footer_copyright
                | © 2020 EduShare. All rights Reserved