-
    const platform = {
        lead: {
            en: 'Example of how EduShare’s blockchain can be used in a private manner by educational institutions. We plan to operate this service in form of a Baas. Within our ecosystem, this will be named “EPaaS”. (Educational Platform as a Service)',
            kr: 'EduShare의 블록체인이 교육 기관에서 사용될 수 있는 사례입니다. 서비스형 블록체인의 형태로, 교육 기관 전용 사설 블록체인을 제공할 저희 서비스의 명칭은 “EPaaS” (Educational Platform as a Service) 입니다.',
            ch: ''
        },
        structure: [
            {
                icon: 'card',
                title: {
                    en: 'Blockchain based DID',
                    kr: '블록체인 기반 신원인증',
                    ch: '基于区块链的身份认证'
                }
            },
            {
                icon: 'school',
                title: {
                    en: 'Blockchain based student record system',
                    kr: '블록체인 기반의 학사정보 관리 플랫폼',
                    ch: '基于区块链的学士信息管理平台'
                }
            },
            {
                icon: 'users',
                title: {
                    en: 'Smart contracts to faciliate attendance and credits',
                    kr: '스마트계약 기반 학점 관리',
                    ch: '基于智能合约的学分管理'
                }
            },
            {
                icon: 'network',
            },
            {
                icon: 'diploma',
                title: {
                    en: 'Using blockchain, issue immutable certificates',
                    kr: '블록체인 기반의 위변조 불가 서류 발급',
                    ch: '不可颁发基于区块链的伪造文件'
                }
            },
            {
                icon: 'businessman',
                title: {
                    en: 'Companies can verify potential employee’s records',
                    kr: '블록체인 기반의 채용 절차',
                    ch: '基于区块链的录用程序'
                }
            },
        ]
    }

section#platform.platform
    .grid-container
        h2.text-center
            | Platform Structure
        p.lead.text-center
            =platform.lead[lang]
        .platform_content
            ul.platform_structure
                each item in platform.structure
                    li(class=item.title ? 'platform_item' : 'platform_item_network')
                        +icon(item.icon, [64, 64])
                        if item.title
                            p.platform_item_title
                                =item.title[lang]
            .platform_image
                img(srcset="/assets/img/structure.png 1x, /assets/img/structure@2x.png 2x" src="/assets/img/structure.png" alt="Online Courses")