section.promo
    .grid-container.promo_container
        .promo_content
            h1
                | EduShare
            p.lead
                | An innovative integration of blockchain and education industry
            .promo_buttons
                a.button.secondary(href="#" download)
                    | Download Whitepaper
        .promo_image
            img(srcset="./assets/img/promo.png 1x, ./assets/img/promo@2x.png 2x" src="./assets/img/promo.png" alt="Online Test")