-
    const roadmap = [
        {
            title: '2019 Q3',
            items: [
                'Market Research',
                'Blockchain Development'
            ]
        },
        {
            title: '2020 Q2',
            items: [
                'Exchange Listing',
                'Application Beta'
            ]
        },
        {
            title: '2020 Q3',
            items: [
                'Mainnet Release',
                'EpaaS Platform'
            ]
        }
    ]

section#roadmap.roadmap
    .grid-container.roadmap_container
        .roadmap_image
            img(srcset="./assets/img/roadmap.png 1x, ./assets/img/roadmap@2x.png 2x" src="./assets/img/roadmap.png" alt="Online Courses")
        .roadmap_content
            h2 Roadmap
            ul.roadmap_items
                each item in roadmap
                    li.roadmap_item
                        h3.roadmap_item_header
                            =item.title
                            | :
                        ul.roadmap_item_descr
                            each li in item.items
                                li=li