-
    const token = {
        header: {
            en: 'Token Allocation',
            kr: '토큰 분배도',
            ch: '代币分配图'
        },
        items: [
            {
                color: 'red',
                label: {
                    en: 'Service',
                    kr: '서비스',
                    ch: '服务'
                },
                percent: 40
            },
            {
                color: 'cyan',
                label: {
                    en: 'Team',
                    kr: '팀',
                    ch: '项目组'
                },
                percent: 20
            },
            {
                color: 'green',
                label: {
                    en: 'Sale',
                    kr: '세일',
                    ch: '促销'
                },
                percent: 2
            },
            {
                color: 'yello',
                label: {
                    en: 'IEO',
                    kr: 'IEO',
                    ch: 'IEO'
                },
                percent: 10
            },
            {
                color: 'blue',
                label: {
                    en: 'Partner',
                    kr: '파트너',
                    ch: '合作方'
                },
                percent: 10
            },
            {
                color: 'orange',
                label: {
                    en: 'Advisor',
                    kr: '어드바이저',
                    ch: '技术顾问'
                },
                percent: 10
            },
            {
                color: 'pink',
                label: {
                    en: 'Bounty',
                    kr: '바운티',
                    ch: '赏金'
                },
                percent: 10
            },
        ],
        blockchain: {
            items: [
                {
                    label: {
                        en: 'Token Symbol',
                        kr: '토큰 심볼',
                        ch: '代币 符号'
                    },
                    value: 'EDS'
                },
                {
                    label: {
                        en: 'Initial Circulation',
                        kr: '초기 유통량',
                        ch: '初期流通数量'
                    },
                    value: '200,000,000'
                },
                {
                    label: {
                        en: 'Block Generation',
                        kr: '블록 생성 주기',
                        ch: '生成区块周期'
                    },
                    value: '3 second'
                },
                {
                    label: {
                        en: 'Block # (1 yr)',
                        kr: '연간 생성 블록 개수',
                        ch: '年度生成区块数量'
                    },
                    value: '10,512,000'
                },
                {
                    label: {
                        en: 'Consensus Algorithm',
                        kr: '합의 알고리즘',
                        ch: '协议算法'
                    },
                    value: 'DCP'
                },
            ],
            eds: [
                {
                    label: 'EDS',
                    value: {
                        en: 'Utility',
                        kr: '유틸리티',
                        ch: '多功能'
                    },
                },
                {
                    label: 'EDS Point',
                    value: {
                        en: 'Point System',
                        kr: '포인트 시스템',
                        ch: '积分系统'
                    },
                },
            ]
        }
    }

section#token.token
    .grid-container
        h2.text-center
            =token.header[lang]
        .token_content
            .wow.token_donut
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 400 400')
                    path(data-color='red' stroke='#F74848', stroke-width='80', d='M200 40a159.999 159.999 0 01113.137 273.137')
                    path(data-color='cyan' stroke='#3FCCDF', stroke-width='80', d='M307.253 318.73a160.004 160.004 0 01-182.332 22.561')
                    path(data-color='green' stroke='#51CF66', stroke-width='80', d='M118.818 337.875a159.931 159.931 0 01-16.609-11.238')
                    path(data-color='yello' stroke='#FCC419', stroke-width='80', d='M97.65 322.982a159.998 159.998 0 01-51.505-79.066')
                    path(data-color='blue' stroke='#5C7CFA', stroke-width='80', d='M44.464 237.529a159.997 159.997 0 015.9-94.177')
                    path(data-color='orange' stroke='#FF922B', stroke-width='80', d='M52.864 137.143a160 160 0 0161.011-71.986')
                    path(data-color='pink' stroke='#F06595', stroke-width='80', d='M118.97 62.036a160 160 0 0173.989-21.881')
            ul.token_legend
                each item in token.items
                    li.token_legend_item(class=`token_legend_item--${item.color}`)
                        =item.label[lang]
                        | 
                        small
                            | (
                            =item.percent  
                            | %)
              
            
            .token_blockchain
                table.token_table
                    thead
                        tr
                            th(colspan="2")
                                h3.token_table_header
                                    | EduShare Blockchain
                    tbody
                        each item in token.blockchain.items
                            tr
                                td=item.label[lang]
                                td=item.value
                .token_bottom
                    each item in token.blockchain.eds
                        .token_bottom_col
                            h3.token_bottom_header
                                =item.label
                            p.token_bottom_descr
                                =item.value[lang]