mixin lang()
    -
        const langs = ['en', 'kr', 'ch']
    ul.menu.simple.lang&attributes(attributes)
        each lng in langs
            if lang===lng
                li.active
                    =lng
            else
                li
                    a(href=`/${(lng !== 'en' ? lng : '')}`)
                        =lng