mixin menu()
    -
        const menu = [
            {
                title: {
                    en: 'HOME',
                    kr: '홈',
                    cn: '首页'
                },
                link: '#home'
            },
            {
                title: {
                    en: 'ABOUT',
                    kr: '소개',
                    cn: '概要'
                },
                link: '#about'
            },
            {
                title: {
                    en: 'PLATFORM',
                    kr: '플랫폼',
                    cn: '平台'
                },
                link: '#platform'
            },
            {
                title: {
                    en: 'TOKEN',
                    kr: '토큰',
                    cn: '代币'
                },
                link: '#token'
            },
            {
                title: {
                    en: 'ROADMAP',
                    kr: '로드맵',
                    cn: '蓝图'
                },
                link: '#roadmap'
            },
        ]
    ul.menu(data-magellan='' data-animation-easing='swing' data-threshold='0')&attributes(attributes)
        each item in menu
            li
                a(href=item.link data-close='')
                    =item.title[lang]