mixin menu()
    -
        const menu = [
            {
                title: 'HOME',
                link: '#home'
            },
            {
                title: 'ABOUT',
                link: '#about'
            },
            {
                title: 'PLATFORM',
                link: '#platform'
            },
            {
                title: 'TOKEN',
                link: '#token'
            },
            {
                title: 'ROADMAP',
                link: '#roadmap'
            },
        ]
    ul.menu(data-magellan='' data-animation-easing='swing' data-threshold='0')&attributes(attributes)
        each item in menu
            li
                a(href=item.link)
                    =item.title