block const
-
    const title  = `${name ?  `${name} - ` : ''}EduShare`;
    const descr  = {
        en: 'An innovative integration of blockchain and education industry',
        kr: '블록체인과 교육산업의 혁신적 결합',
        cn: ''
    };
    const domain = 'edushare.min.studio'

//- Components
include components/_icons
include components/_menu
include components/_lang
include components/_social

doctype html
html(lang=lang)
    include components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_header
            block content
            include sections/_footer
            //- include components/_popup
        include components/_offcanvas
        block js
            script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
            script(src="/js/app.min.js")